body {
  width: 960px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  text-align: center;
  border: 10px;
  border-style: double;
}

h1 {
  font-size: 140px;
}

h2 {
  font-style: italic;
  background-color: aqua;
}

p {
  background-color: black;
  color: red;
}


#orderedList {
  width: auto;
  align-items: left;
  border: solid;
  padding: 20px;
}

main {
  height:fit-content;
}

#underedList {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  border: solid;
  padding: 25px;
}