body {
  background-color: lightgray;
  text-align: center;
  border: 10px;
  border-style: double;
}

h1 {
  font-size: 140px;
}

h2 {
  font-style: italic;
  background-color: aqua;
}

p {
  background-color: black;
  color: red;
}

li {
  flex-flow:column;
}

#orderedList {
  float: left;
  width: 10
  em;
  border: solid;
  padding: 20px;
}


#underedList {
  float: right;
  width: 10em;
  border: solid;
  padding: 25px;
}